@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container{
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 100;
}


/* common css */
.black-icon{
  color:#000;
}
.white-icon{
fill: #fff ;
color: #fff;
}
.icon-xs{
  height:20px !important;
  width:20px !important;
}
.icon-xs:hover{
  height:25px !important;
  width:25px !important;
}
.icon-sm{
  height:40px !important;
  width:40px !important;
}
.icon-sm:hover{
  height:45px !important;
  width:45px !important;
}
.icon-md{
  height: 75px !important;
  width:75px !important;
  text-align: center;
}
.icon-md:hover{
  height:80px !important;
  width:80px !important;
}
.icon-xl{
  height:100px !important;
  width:100px !important;
}
.icon-xl:hover{
  height:110px !important;
  width:110px !important;
}
.icon-contents{
  display: contents !important;
}
.bg-white p{
  color: black;
}
.text-lg-left-sm-center{
 text-align: left;
}
.parallax {
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section{
  margin:20px 100px 25px;
}
.block-heading{
  text-align: left;
}
.block-content{
  text-align: left;
}
/* Common Css end */

/* Container Specific Css Starts */

/* Hero Section Starts */
.hero-section-slider,.hero-section-slider .awssld__content{
  height: 100vh;
}
.hero-section-slider .awssld__content{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Hero Section Ends */

/*  Slider Section starts */

.trip-data-card{
  margin: 0 10px;
  height: 400px;
  width: 100%;
}
.trip-data-card-inner{
  background-image: url('./assets/banner3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}
.trip-data-card-inner-content{
  position: absolute;
  background: #000000a8 !important;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
.trip-data-card-inner-content.left-col{
  left: 0%;
  right: 50%;
}
.trip-data-card-inner-content.right-col{
  display: none;
  left: 50%;
  right: 0%;
}
.trip-data-card-inner:hover .trip-data-card-inner-content.right-col {
 display: flex;
}

.trip-data-card-inner p{
  color: white;
  padding-bottom: 4px;;
}
.slider-title{
  text-align: left;
}
.slick-slide {
  padding:0 5px;
}
.testimonial-card{
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 10px;
  min-height: 250px;
}
.testimonial-card .card-header{
  opacity: .75;
  font-weight: 900;
}
.slick-dots li {
display: none;
  }
.slick-dots li button:before{
color: #fff !important;
}
.slick-dots li.slick-active button:before{
  color: #fff !important;
}
/*  Slider Section end */


/* About Section Starts */
.about{
  padding: 40px 10%;
}
/* About Section Ends */

/* Stepper */
.MuiStepLabel-label{
color:#fff !important;
font-size: 20px;

}
.block .css-qivjh0-MuiStepLabel-label.Mui-completed{
  color:#fff;
  font-size: 20px;
}
.block .css-qivjh0-MuiStepLabel-label.Mui-active{
  color:#fff;
  font-size: 24px;
}
@media only screen and (max-width:767px) {
  .icon-md{
    height: 35px !important;
    width:35px !important;
  }
  .icon-md:hover{
    height:40px !important;
    width:40px !important;
  }
  .text-lg-left-sm-center{
    text-align: center;
   }
  .section{
    margin:20px 30px 15px;
  }
  .block-heading{
    text-align: center;
  }
  .block-content{
    text-align: center;
  }
  .slider-title{
    text-align: center;
  }
  .about{
    padding: 20px 5%;
  }

}
