@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-container{
position: absolute;
top: 0;
left: 0;
right: 0;
z-index: 100;
}


/* common css */

.icon-xs{
  height:20px !important;
  width:20px !important;
}
.icon-xs:hover{
  height:25px !important;
  width:25px !important;
}
.icon-sm{
  height:40px !important;
  width:40px !important;
}
.icon-sm:hover{
  height:45px !important;
  width:45px !important;
}
.icon-md{
  height: 75px !important;
  width:75px !important;
  text-align: center;
}
.icon-md:hover{
  height:80px !important;
  width:80px !important;
}
.icon-xl{
  height:100px !important;
  width:100px !important;
}
.icon-xl:hover{
  height:110px !important;
  width:110px !important;
}
.icon-contents{
  display: contents !important;
}
.bg-white p{
  color: black;
}



/* common css */

/* container specific css */
.header-inner-image{
  background-image: url('./assets/banner1.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}
.header-inner-image::before{
  box-shadow: inset 0 0 100px rgb(223 102 102);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-inner{
  height: 100px;
  width: 50%;
}

.header-links{
  font-size:20px;
  text-transform: uppercase;
}
.logo-image{
  width:70px;
}

.banner,.hero-section-inner{
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-banner-slider,.home-banner-slider .awssld__content{
  height: 100vh;
}
.hero-section-slider,.hero-section-slider .awssld__content{
  height: 100vh;
}
.hero-section-slider .awssld__content{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-banner{
  background-image: url('./assets/banner1.jpg');

}
.home-banner-1{
  background-image: url('./assets/banner2.jpg');
  
}
.home-banner-2{
  background-image: url('./assets/banner3.jpg');
  
}
.trip-data-card{
  margin: 0 10px;
  height: 400px;
  width: 100%;
}
.trip-data-card-inner{
  background-image: url('./assets/banner3.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.trip-data-card-inner-content{
    position: absolute;
    background: #bfc2cb69 !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-data-card-inner p{
 color: white;
padding-bottom: 4px;;
}
.parallax {
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{

}
.about{
  padding: 40px 10%;
}

@media only screen and (max-width:767px) {
  
  .icon-md{
    height: 35px !important;
    width:35px !important;
  }
  .icon-md:hover{
    height:40px !important;
    width:40px !important;
  }
  .about{
    padding: 20px 5%;
  }

}
